//-
  <div class="notice-wrap">
  <div class="notice-bar">
  <span class="new-badge">NEW</span><span class="msg-text">#{game_db_name}サイトのアドレスが新しくなりました→ <b>otoge-db.net</b><br>ブックマークなどの更新はお忘れずに！</span>
  <button id="hide-notice-btn" class="close-btn"></button>
  </div>
  </div>
header
  nav.otogedb-nav
    a.label(href='/')
      span.text OTOGE DB
      +symbol('otogedb-logo')
    a.nav-link(href=(flat_view ? '/ongeki/lv' : '/ongeki'))
      span ONGEKI
    a.nav-link(href=(flat_view ? '/chunithm/lv' : '/chunithm'))
      span CHUNITHM
    a.nav-link(href=(flat_view ? '/maimai/lv' : '/maimai'))
      span maimai
  .container
    h1
      a.reset-all(href='#')
        span.logo
        span.hidden(aria-hidden='true') #{game_db_name} : #{game_name_display} 非公式楽曲リスト
    .aside
      .info
        span.region-badge
          span.text
        div.version-date
          span.version.jp
            | #{game_version_display}
          span.version.intl
            | #{game_version_display_intl}
          span.date.jp
            | #{lastupdated_jp}
          span.date.intl
            | #{lastupdated_intl}
      .region-quick-switch
        input#gameRegionQuickSwitch(type='checkbox')
        label.switch(for='gameRegionQuickSwitch')
          +symbol('icon-switch')


        //- label.switch(for='gameRegionQuickSwitch')
        //-   input#gameRegionQuickSwitch(type='checkbox')
        //-   .slider.round
      .site-menu-btn-wrapper
        button#site-menu-btn
          span.hamburger-icon
            span.line.one
            span.line.two
            span.line.three

nav.site-navigation
  .container
    .view-switcher
      if !flat_view
        button.btn.active.reset-all
          +symbol('icon-song')
          span(data-i18n='nav_songs') 楽曲
        a.btn(href='./lv')
          +symbol('icon-charts')
          span(data-i18n='nav_charts') 譜面
      else
        a.btn(href='./')
          +symbol('icon-song')
          span(data-i18n='nav_songs') 楽曲
        button.btn.active.reset-all
          +symbol('icon-charts')
          span(data-i18n='nav_charts') 譜面
    select#chart_lev.lv-switcher(name='lv-switcher' data-type=(flat_view ? 'filter' : 'href'))
      option(value='' selected='' data-default='') LEVEL ALL
      each level in levels
          option(value=level) LEVEL #{level}
