meta(charset='UTF-8')
meta(name='HandheldFriendly' content='True')
meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
meta(name='description' content=`セガの音ゲー「${game_name_display}」の楽曲一覧、譜面データなどを閲覧できるデータベースです。`)
meta(name='keywords' content=`${game_name_display},${game_db_name},${game_name_display}楽曲リスト,楽曲リスト,楽曲一覧,楽曲DB,収録曲,曲リスト,曲検索,譜面,譜面定数,敵レベル,属性,バージョン別,相手キャラ`)

meta(property='og:type' content='website')
meta(property='og:site_name' content=`${game_db_name}`)
meta(property='og:title' content=`${game_db_name} ver. ${game_version_display}`)
meta(property='og:description' content=`セガの音ゲー「${game_name_display}」の楽曲一覧や譜面データなどを閲覧できるデータベースです。`)
meta(property='og:url' content='https://otoge-db.net/')
meta(property='og:image' content=`https://otoge-db.net/${game_name}/img/${game_name}-db-og.jpg`)

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content=`${game_db_name}`)
meta(name='twitter:title' content=`${game_db_name} ver. ${game_version_display}`)
meta(name='twitter:description' content=`セガの音ゲー「${game_name_display}」の楽曲一覧や譜面データなどを閲覧できるデータベースです。`)
meta(name='twitter:url' content='https://otoge-db.net/')
meta(name='twitter:image' content=`https://otoge-db.net/${game_name}/img/${game_name}-db-og.jpg`)

