block variables
include _svg

doctype html
html(lang='ja' class=`page-loading table-loading ${game_name}`)
  head
    if flat_view
      base(href='../')

    include _meta

    link(rel='shortcut icon' href=`./img/favicon.ico`)
    link(rel='apple-touch-icon' sizes='32x32' href=`./img/favicon.ico`)
    link(rel='apple-touch-icon' sizes='512x512' href=`./img/${game_name}-db-icon-512.png`)
    link(rel='apple-touch-icon-precomposed' href=`./img/${game_name}-db-icon-512.png`)

    script(type='text/javascript' src='../shared/jquery-3.6.0.min.js')

    link(rel='stylesheet' href='./style.css?20240131')

    title OTOGE DB :: #{game_name_display} #{flat_view ? ':: 譜面別' : ''}

  body
    #app-wrapper
      include _header
      include _loader
      
      table#table.display(style='width:100%')
        thead
          tr
            block table_rows
      
      include _footer
    include _site-menu

  script.
    var flat_view = #{flat_view};
    
  script(src='../shared/early-functions.js?20240131')
  script(defer='' src='../shared/datatables.custom.min.js?20240202')
  script(defer='' src='../shared/shared-functions.js?20240131')

  script(defer='' src=`./${game_name}-functions.js?20240131`)
  script(defer='' src='https://www.googletagmanager.com/gtag/js?id=UA-141271073-1')
